:root {
  --primary-color: #069206;
  --primary-hover: #207e20;

  --secondary-color: #194d72;
  --secondary-hover: #1a5b8a;

  --lime-green: #baf3a5;

  --white: #ffffff;
  --black: #000000;

  --dark-gray: #333333;
  --light-gray: #d8d8d8;

  --red: #e26365;
  --dark-blue: #0d4775;

  --blue: #5d67d5;

  /* font family */
  --poppins: 'Poppins', sans-serif;

  /* font weight */
  --fw300: 300;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fw700: 700;
  --fw800: 800;
  --fw900: 900;

  // font height
  --font-xl: 20px;
  --font-large: 16px;
  --font-medium: 14px;
  --font-small: 12px;

  // background
  --bg-light: #f9f9f9;
}
